.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
pubspec.lock

android/.gradle/
android/build/
android/local.properties

example/.dart_tool/
example/.packages
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/build/
example/pubspec.lock
example/android/.gradle/
example/android/build/
example/android/local.properties
example/ios/Pods/
example/ios/Flutter/Generated.xcconfig
example/ios/Flutter/flutter_export_environment.sh
